* {
    box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

a {
  color: #00B7FF;
}

#hero-container {
    height: 293px;
    position: relative;
    background: #CCC;
    background-image: url('../images/banner.jpg');
    background-size: cover;
}

#logo-container {
    width: 263px;
    height: 263px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 136px;
    left: 90px;
    border-radius: 10px;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

#logo-container > img {
    width: 220px;
    height: 111px;
}

#main-container {
    width: 100%;
    margin-top: 175px;
    padding: 0px 90px;
}

.title {
    font-size: 34px;
    color: #D32323;
    display: inline-block;
    line-height: 34px;
}

.title-category {
    font-weight: bold;
}

#divider {
  font-size: 31px;
  color: #808080;
  line-height: 34px;
}

#listing-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-card {
    width: 380px;
    height: 412px;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.09);
    background-color: #FFF;
    overflow: hidden;
    cursor: pointer;
}

.list-card:hover {
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.2);
}

.list-image {
    height: 166px;
    background-color: #CCC;
    background-size: cover;
    background-position: center;
}

.list-info {
    margin: 15px;
}

.list-info-title {
    margin-bottom: 5px;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 2.16px;
    color: #D32323;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-info-rating {
    margin-bottom: 5px;
    font-size: 17px;
    letter-spacing: 2.16px;
    color: #D32323;
}

.star-rating {
    margin-right: 5px;
}

.star-rating > img {
    width: 17px;
    height: 17px;
    float: left;
}

.list-info-address {
    margin-bottom: 20px;
    font-size: 17px;
    letter-spacing: 2.16px;
    color: #666;
}

.review-user-name {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.36px;
    color: #666;
}

.rated {
    font-size: 17px;
    font-weight: normal;
    letter-spacing: 1.36px;
    color: #666;
}

.review-user-rating {
    width: 30px;
    height: 18px;
    display: inline-block;
    text-align: center;
    border-radius: 8.5px;
    background-color: #A0A0A0;
    color: #FFF;
    font-size: 11px;
    letter-spacing: 0.88px;
    line-height: 18px;
    vertical-align: middle;
}

.review-user-text {
    font-size: 13px;
    letter-spacing: 1.04px;
    color: #666;
}
